/*****************
FONTS
*****************/
body {
  font-family: 'Rajdhani', sans-serif;
}

#heading h3 {
  /*line-height: 2em;*/
}

label {
  font-size: 1.25em;
}

select {
  font-family: sans-serif;;
}

button {
  font-size: 1.25em;
}

/*****************
LAYOUT
*****************/
#show,
#php,
#ruby,
#java {
  display: none;
}

body {
  margin-top: 5%;
}

.container {
  width: 80%;
}

.btn,
#blank,
#size,
#demand,
#simple,
#what {
  display: block;
}

#blank,
#size,
#demand,
#simple,
#what {
  margin-bottom: 1.5em;
}

#blank,
#size {
  width: 40%;
}

button {
  align
}

#show,
#heading {
  text-align: center;
}

img {
  width: 500px;
  display: block;
  margin: 0 auto;
}


/*****************
COLOR
*****************/

body {
  background-color: #27a798;
}

.well,
.panel,
button {
  box-shadow: 2px 2px 10px #17645b;
}

button {
  background-color: #a72736;
  color: white;
  box-shadow: 2px 2px 5px #000;
}
